#container{
    display: grid;
    min-height: 100vh;

    grid-template-areas: 
        "header  header header2 header header"
        "header header header3 header header"
        "footer footer2 footer footer2 footer";
        
    grid-template-columns: 200px 1fr 1fr 1fr 200px;
    grid-template-rows: 100px 100px 1fr;
}

#header{
    grid-area: header;
    background-color: red;
}

#header2{
    grid-area: header2;
    background-color: blue;
}

#header3{
    grid-area: header3;
    background-color: violet;
}

#footer{
    grid-area: footer;
    background-color: green;
}

#footer2{
    grid-area: footer2;
    background-color: yellow;
}