.box{
    background-color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    animation-name: fade;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes fade{
    0%,100%{opacity: 100%; left: 0px; top: 0px; border-radius: 50%;}
    1%{opacity: 0%;}
    24%{opacity: 0%;}
    25%{opacity: 100%; top: 500px; left: 0px; border-radius: 0%;}
    26%{opacity: 0%;}
    49%{opacity: 0%;}
    50%{opacity: 100%; border-radius: 50%; top: 500px; left: 500px;}
    51%{opacity: 0%;}
    74%{opacity: 0%;}
    75%{opacity: 100%; left: 500px; top: 0px; border-radius: 0%;}
    76%{opacity: 0%;}
    99%{opacity: 0%;}
}