.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 4rem;
  background-color: antiquewhite;
  padding: 20px;
}

.card {
  height: 150px;
  width: 150px;
  background-color: white;
  gap: 0.2rem;
  padding: 20px;
  border-radius: 20%;
  display: flex;
}